- require 'image_size'

.wrapper
  .jcarousel
    .stage
      .carousel.carousel-stage
        %ul
          - Dir.new('source/assets/images/slideshow').each do |file_name|
            - if file_name =~/.jpg/i
              - image_size = imagesize "source/assets/images/slideshow/#{file_name}"
              %li
                %img{:width => "#{image_size[0]}", :height => "#{image_size[1]}", :longdesc => "/assets/images/slideshow/#{file_name}", :src => "/assets/images/slideshow/#{file_name}"}

      %p.photo-credits

      %a.prev.prev-stage{:href => "#"}
        %span ‹
      %a.next.next-stage{:href => "#"}
        %span ›
    .navigation
      %a.prev.prev-navigation{:href => "#"} ‹
      %a.next.next-navigation{:href => "#"} ›
      .carousel.carousel-navigation
        %ul

          - Dir.new('source/assets/images/slideshow').each do |file_name|
            - if file_name =~/.jpg/i
              - image_size = imagesize "source/assets/images/slideshow/#{file_name}"
              %li
                %img{:width => "#{image_size[0]/10}", :height => "#{image_size[1]/10}", :longdesc => "/assets/images/slideshow/#{file_name}", :src => "/assets/images/slideshow/#{file_name}"}

