!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %meta{:content => "Goochie Pooch & Cats Too -=* Grooming Salon *=-", :name => "description"}/
    %meta{:content => "grooming, cat, cats, dog, dogs, New Jersey, East Brunswick", :name => "keywords"}/

    %title Goochie Pooch & Cats Too -=* Grooming Salon *=-

    %link{:rel => "icon", :type => "image/x-icon", :href => "/assets/images/favicon.ico"}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/assets/images/favicon.ico"}

    = stylesheet_link_tag "screen"

    = javascript_include_tag "jquery-1.10.2.min"
    = javascript_include_tag "jquery.jcarousel.min"

    = javascript_include_tag "requirejs-2.1.8.min"
    = javascript_include_tag "gp-jcarousel"
    = javascript_include_tag  "application"

    -#= javascript_include_tag "gp-jcarousel1"
    -#= javascript_include_tag  "application1"

    -#= javascript_include_tag "gp-jcarousel2"
    -#= javascript_include_tag  "application2"

    -#%script{"data-main" => "javascripts/application.js", :src => "javascripts/requirejs-2.1.8.min.js"}
  %body
    #wrapper
      #main-column
        #logo
          = partial "common/header"

        #main_content
          #menu
            = partial "common/menu"
          #page
            = yield
        #footer
          = partial "common/footer"
      #sidebar
        = partial "common/sidebar"
